<header class="panel-cover {{#if post}}panel-cover--collapsed{{/if}} {{#if code}}panel-cover--collapsed{{/if}}" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">

        {{#if @blog.logo}}
        <a href="https://t.me/locnh" target="_blank" title="Bingo!! You found the secret channel, wave me on Telegram"><img src="{{@blog.logo}}" width="80" alt="{{@blog.title}} logo" class="panel-cover__logo logo" /></a>
        {{/if}}
        <p class="panel-cover__description">{{@blog.description}}</p>

        <div class="navigation-wrapper">

          {{> social}}

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>
